.ordering-sales{
  background: $yellow url("../../images/backgrounds/ordering_bg.png") -100px -413% 
  padding-box !important;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  p{
    font-size: 10px;
    line-height: 15px;
  }
}
.ordering{
  background: red url("../../images/backgrounds/ordering_bg.png") -100px -413% 
  padding-box !important;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  p{
    font-size: 10px;
    line-height: 15px;
  }
}