.navbar {
    // border-bottom: $navbar-border-bottom;
    // box-shadow: $navbar-box-shadow;
  
    @include media-breakpoint-down(md) {
      width: 100vw;
    }
    border-bottom: 1px solid $search-form-bg;
    margin-bottom: 10px;
  }
  