.account {
    .no-bank{
        text-align: center;
        // min-height: 300px;
    }
    .bank-card-parent{
      display: -webkit-inline-box;
      overflow: hidden;
      overflow: auto;

    }
  .bank-card {
    background: url("../../images//svg/card_bg.svg");
    height: 275px;
    max-width: 461px;
    background-attachment:scroll; 
    background-repeat: no-repeat;
    background-size: 100%;
    @include media-breakpoint-down(md) {
        width: auto;
        background-size: contain;
      }
      @include media-breakpoint-down(xs) {
        width: auto;
        background-size: cover;
      }

      
  }
}
