.form-control{
    background: $form-bg 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    &:focus{
        outline: none;
        border: none;
        box-shadow: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
}


.search-div{
    background-color: $search-form-bg;
    width: 100%;
    img{
        background: inherit;
    }
    input, .form-control{
        border-radius: 0;
        background: inherit;
        border: none;
    }

    input:focus{
        background-color: $search-form-bg
    }
    &:focus-within{
        // background-color: $search-form-bg;
    }
}
.form-control.is-invalid{
    border-bottom: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.bank-dropdown{
    border: 0.5px solid #DBE8F0;
    border-radius: 5px;
}
.otp{
    input{
        background: $border_lines 0% 0% no-repeat padding-box;
        border-radius: 5px;
        text-align: center;
        padding: 25px 2px ;
        margin-top: 10px;
    }
}

.btn{
    &:hover{
        color: $white;
    }
}

.floating-label {
    position:  relative;
    margin-bottom:  10px;
    width:  100%;
    label {
      position:  absolute;
      top: calc(50% - 15px);
      left:  0;
      opacity:  0;
      transition:  all .3s ease;
      //padding-left:  44px;
    }
    input {
      width:  100%;
      margin-left:  auto;
      display:  flex;
    }

    input:not(:placeholder-shown) {
      padding:  28px 0px 12px 0px;
    }
    input:not(:placeholder-shown) + label {
      transform:  translateY(-10px);
      opacity:  1;
    }
    input:valid:not(:placeholder-shown) + label + .icon {
      svg {
        opacity:  1;
        path {
        }
      }
    }
    input:not(:valid):not(:focus) + label + .icon {
      animation-name: shake-shake;
      animation-duration: .3s;
    }
  }