.form-control{
    background: $form-bg 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: none;
    &:focus{
        outline: none;
        border: none;
        box-shadow: none;
    }
}


.search-div{
    background-color: $search-form-bg;
    img{
        background: inherit;
    }
    input{
        border-radius: 0;
        background: inherit;
    }

    input:focus{
        background-color: $search-form-bg
    }
    &:focus-within{
        // background-color: $search-form-bg;
    }
}
.form-control.is-invalid{
    border-bottom: 1px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.bank-dropdown{
    border: 0.5px solid #DBE8F0;
    border-radius: 5px;
}
.otp{
    input{
        background: $border_lines 0% 0% no-repeat padding-box;
        border-radius: 5px;
        text-align: center;
        padding: 25px 2px ;
        margin-top: 10px;
    }
}

.btn{
    &:hover{
        color: $white;
    }
}